<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <title>University</title>
  </head>
  <body>
  	
	<th:block th:insert="fragments :: navbar"></th:block>
	
	<div class="container">
	
		<h1>Insegnanti:</h1>
		<hr/>
		<table class="table">
			<thead>
				<tr>
				
					<th>Nome</th>
					<th>Cognome</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>Indirizzo ufficio</th>
					<th>Numero ufficio</th>
				
				</tr>
			</thead>
		
			<tbody>
			
				<tr th:each="t : ${teacherList}">
					<td th:text="${t.getName()}"></td>
					<td> 
						<a th:href="@{|/teachers/${t.id}|}" th:text="${t.getSurname()}"></a>
					</td>
					<td th:text="${t.getPhone()}"></td>
					<td th:text="${t.getEmail()}"></td>
					<td th:text="${t.getOfficeAddress()}"></td>
					<td th:text="${t.getOfficeNumber}"></td>
				</tr>
			
			</tbody>
			
		</table>
	</div>

  </body>
